final/Node_RED_ESP32_final.json
[
    {
        "id": "4e0be0a72152d8d5",
        "type": "tab",
        "label": "流程1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "03867e6b6cb4c41d",
        "type": "mqtt out",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "898dafe5126cdc66",
        "type": "mqtt in",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "broker": "10e78a89.5b4fd5",
        "inputs": 0,
        "x": 150,
        "y": 600,
        "wires": [
            [
                "b2f9c33fd94cc22b",
                "3b2210811f28c0b6",
                "0b2ab145288a1881"
            ]
        ]
    },
    {
        "id": "367c11c3575c38b5",
        "type": "ui_switch",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "label": "開關",
        "tooltip": "",
        "group": "72bfcff139965bbd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 889,
        "y": 120,
        "wires": [
            [
                "03867e6b6cb4c41d",
                "62f79dfac4faa512",
                "e30106dd2facef40"
            ]
        ]
    },
    {
        "id": "b2f9c33fd94cc22b",
        "type": "debug",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 520,
        "wires": []
    },
    {
        "id": "3780d2d0ed5dbb71",
        "type": "mqtt in",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "topic": "esp32/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "f5f04135dba90511",
                "851173d2adb620c0",
                "10c302fcc45ff146",
                "37b767fe40755ea8"
            ]
        ]
    },
    {
        "id": "f5f04135dba90511",
        "type": "debug",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "3b2210811f28c0b6",
        "type": "ui_chart",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "group": "37de8fe8.46846",
        "order": 2,
        "width": 7,
        "height": 6,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "851173d2adb620c0",
        "type": "ui_gauge",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "group": "8f1ac2644fbc2e4e",
        "order": 1,
        "width": 7,
        "height": 5,
        "gtype": "wave",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "className": "",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "10c302fcc45ff146",
        "type": "ui_chart",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "group": "8f1ac2644fbc2e4e",
        "order": 2,
        "width": 7,
        "height": 6,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0b2ab145288a1881",
        "type": "ui_gauge",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "group": "37de8fe8.46846",
        "order": 1,
        "width": 7,
        "height": 5,
        "gtype": "gage",
        "title": "",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "100",
        "colors": [
            "#00b300",
            "#eeff00",
            "#ff0000"
        ],
        "seg1": "33",
        "seg2": "66",
        "className": "",
        "x": 410,
        "y": 600,
        "wires": []
    },
    {
        "id": "afcb568e1a2263d8",
        "type": "mqtt out",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "topic": "esp32/light_output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 1230,
        "y": 360,
        "wires": []
    },
    {
        "id": "97486bf8fefa5b1d",
        "type": "ui_switch",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "label": "開關",
        "tooltip": "",
        "group": "393a9e5ec28a94f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 889,
        "y": 360,
        "wires": [
            [
                "afcb568e1a2263d8",
                "1c187d74240fdba6",
                "03db172ca7150144"
            ]
        ]
    },
    {
        "id": "37ec70937bed02a4",
        "type": "ui_digital_clock",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "group": "5c79b643fcd37cad",
        "order": 1,
        "width": 6,
        "height": 2,
        "x": 1210,
        "y": 600,
        "wires": []
    },
    {
        "id": "105daf8d29a83f81",
        "type": "inject",
        "z": "4e0be0a72152d8d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 910,
        "y": 600,
        "wires": [
            [
                "37ec70937bed02a4",
                "69d84dd0.c594a4"
            ]
        ]
    },
    {
        "id": "62f79dfac4faa512",
        "type": "ui_text",
        "z": "4e0be0a72152d8d5",
        "group": "dfce48d70dd2b541",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "風扇",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "x": 1190,
        "y": 200,
        "wires": []
    },
    {
        "id": "e26d4305f1b50218",
        "type": "ui_text",
        "z": "4e0be0a72152d8d5",
        "group": "dfce48d70dd2b541",
        "order": 1,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "DHT22",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "1c187d74240fdba6",
        "type": "ui_text",
        "z": "4e0be0a72152d8d5",
        "group": "dfce48d70dd2b541",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "電燈",
        "format": "{{value}}",
        "layout": "row-spread",
        "className": "",
        "x": 1190,
        "y": 440,
        "wires": []
    },
    {
        "id": "37b767fe40755ea8",
        "type": "function",
        "z": "4e0be0a72152d8d5",
        "name": "function 1",
        "func": "if (msg.payload == \"nan\") {\n    msg.payload = \"not find\"\n}else{\n    msg.payload = \"on line\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 360,
        "wires": [
            [
                "e26d4305f1b50218",
                "d46e7974a9860215"
            ]
        ]
    },
    {
        "id": "d46e7974a9860215",
        "type": "ui_led",
        "z": "4e0be0a72152d8d5",
        "order": 2,
        "group": "dfce48d70dd2b541",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "not find",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "on line",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "e30106dd2facef40",
        "type": "ui_led",
        "z": "4e0be0a72152d8d5",
        "order": 4,
        "group": "dfce48d70dd2b541",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "off",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "on",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1190,
        "y": 280,
        "wires": []
    },
    {
        "id": "03db172ca7150144",
        "type": "ui_led",
        "z": "4e0be0a72152d8d5",
        "order": 6,
        "group": "dfce48d70dd2b541",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "off",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "on",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1190,
        "y": 520,
        "wires": []
    },
    {
        "id": "69d84dd0.c594a4",
        "type": "ui_text",
        "z": "4e0be0a72152d8d5",
        "group": "5c79b643fcd37cad",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "date",
        "label": "",
        "format": "{{payload | date}}",
        "layout": "row-spread",
        "className": "",
        "x": 1190,
        "y": 680,
        "wires": []
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "72bfcff139965bbd",
        "type": "ui_group",
        "name": "風扇",
        "tab": "53b8c8f9.cfbe48",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "37de8fe8.46846",
        "type": "ui_group",
        "name": "DHT22 Temperature",
        "tab": "53b8c8f9.cfbe48",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f1ac2644fbc2e4e",
        "type": "ui_group",
        "name": "DHT22 Humidity",
        "tab": "53b8c8f9.cfbe48",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "393a9e5ec28a94f0",
        "type": "ui_group",
        "name": "電燈",
        "tab": "53b8c8f9.cfbe48",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c79b643fcd37cad",
        "type": "ui_group",
        "name": "現在時間",
        "tab": "53b8c8f9.cfbe48",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dfce48d70dd2b541",
        "type": "ui_group",
        "name": "狀態",
        "tab": "53b8c8f9.cfbe48",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "53b8c8f9.cfbe48",
        "type": "ui_tab",
        "name": "MyHome",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]